*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.search-zone
{
    margin-top: 20px;
    margin-left: 35%;
    position: relative;
}
.search-zone form input
{
    color: rgb(8 145 178);
    border: none;
    background: rgba(17, 38, 58, 0.75);
    padding: 7px;
    outline: none;
    border-radius: 12px;
    width: 600px;
}
.search-zone form button
{
    color: rgb(8 145 178);
    margin-left: -25px;
    border-radius: 12px;
    position: relative;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: transparent;
}